<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace = "layouts :: headCode"></head>


<body th:style="'background: url(/img/download.jpg) no-repeat center center fixed;'">

    
<nav th:replace = "layouts :: navBarCode"></nav>

<div class="container" style="heiht:50vh;">



	<hr>
	
	   <!-- <tr th:each = "aproduct:${productList}" >
				  <td th:text = "${aproduct.name}">
				  <td th:text = "${aproduct.stage}">
				  <td th:text = "${aproduct.description}">
					  
					<div class = "col-md-4">
						<div class="parentClass" style = "dislplay:flex">
						<div class="imageDiv" style="background-color:blue" >
	
							<img src='uploads/th:text = /"${aproduct.image}"' alt="Shoe image">
						</div>
						<div class="productDetails">
						  <p th:text = /"${aproduct.brandName}"></p>
						  <br>
						   <p th:text = /"${aproduct.Category}"></p>
						   <br>
							<p th:text = /"${aproduct.price}"></p>
							<br>
							<p th:text = /"${aproduct.description}"></p>
							<br>
	
	
						</div>
						</div>
			
	
		</div>
				
				
				
				-->
	
	
		
		<div class = "" th:each ="aproduct:${productList}" style = "dislplay:flex; flex-direction: row;">
			<div class="row">
			<div class = "col-md-6" style="background-color: white;">
				<div class="parentClass" style = "dislplay:flex !important; flex-direction: row;">
								<img  th:src = "${aproduct.image}" alt="Shoe image"/>
				<div>
				
			<!--	<p th:text = "${aproduct.image}"></p> -->
				<!-- <h2>Brand Name</h2>        <h2 th:text = "${aproduct.productId}"></h2> -->
					<h2>Brand Name</h2>        <h2 th:text = "${aproduct.brand}"></h2>
					<hr>
					<h2>Category</h2>  <h2 th:text = "${aproduct.Category}"></h2>
					<hr>
					<h2>Price</h2>  <h2 th:text = "${aproduct.price}"></h2>
					<hr>
					<h2>Description</h2> 	<h2 th:text = "${aproduct.description}"></h2>
					<hr>
					
				</div>
	
	
				</div>
	
		</div>
		<hr>
	
	</div>
	
	
	</div>


<script type = "text/javascript" th:src= "@{js/myChart.js}"></script>

</body>
</html>